<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>To Do List</h1>

    <form action="/cars" method="post">
      <label for="makeModel">Add a car make:</label>
      <input id="makeModel" name="makeModel" type="text">
      <label for="price">Add a car price:</label>
      <input id="price" name="price" type="text">
      <label for="miles">Add a car miles:</label>
      <input id="miles" name="miles" type="text">
      <label for="note">Add a car note:</label>
      <input id="note" name="note" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
